//Este comentário não vai aparecer
  Continuação  do comentário
  Mais uma linha
//

/*Este comentário estará no CSS
 Continuando
 O
 Meu
 Comentáio
 #{100 + 20}
 */

  /*! Este comentário também será incluso*!/

$bg-color: #ddd
$title-background: #111
$title-color: #f1f1f1

.container
  background: $bg-color
  padding: 20px

  #title
    background-color: $title-background
    color: $title-color
    padding: 10px
    text-align: center

.container-bottom
  background-color: #ddd
  text-align: center
  padding: 50px
