* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, .13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #fff;

  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;

  font-family: 'Roboto', sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  align-self: flex-end;
  justify-self: center;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path, .pause svg path, .sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

#timer {
  display: flex;
  margin-bottom: 1.6rem;

  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
}

#controls {
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 999px;
  background-color: var(--bg-primary-light);
}

footer {
  padding: 0 4rem 3.2rem 0;
  align-self: flex-end;
  justify-self: end;
}