* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  --primary-color: #293241;
  --secondary-color: #bfd7e4;
  --tertiary-color: #f67669;
  --tertiary-fover-color: #d15b4e;
  --color-white: #fff;
  --input-background-color: #E6E6F0;
  --span-color: #767676;
  --span-hover-color: #585858;
  --legend-color: #253B51;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}

h1, legend, input[type=submit] {
  font-family: 'Staatliches', cursive;
}

header {
  width: 100%;
  height: 46.5rem;
  background-color: var(--primary-color);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 16.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1 {
  font-size: 3.6rem;
}

header p {
  font-size: 1.6rem;
  margin-bottom: .2rem;
}

form {
  width: 75rem;
  height: 120.6rem;
  margin: 33.2rem auto 39.2rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  position: relative;
  font-size: 1.4rem;
}

.form-header {
  width: 100%;
  height: 13.3rem;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2.4rem;
}

.fieldset-wrapper {
  margin: 3.2rem 6.4rem 6.4rem;
}

form fieldset:nth-child(1) {
  margin-bottom: 3.2rem;
}

form fieldset:nth-child(1) legend {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  margin-top: 5rem;
  color: var(--color-white);
  font-size: 2.4rem;
}

.input-wrapper:hover label span {
  color: var(--span-hover-color);
}

form label span {
  color: var(--span-color);
  font-size: 1.2rem;
}

fieldset {
  width: 100%;
}

.input-wrapper label {
  display: inline-block;
  padding-bottom: .8rem;
}

.input-wrapper span {
  margin-left: 1rem;
}

.name {
  display: flex;
  gap: 2.2rem;
}

.name div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.email label {
  margin-top: 1.6rem;
}

.checkbox {
  display: flex;
  margin-bottom: 3.7rem;
}

.checkbox label {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: .8rem;
}

.checkbox input {
  width: 2.4rem;
  height: 2.4rem;
}

fieldset input, fieldset select {
  width: 100%;
  height: 5.6rem;
  border-radius: .8rem;
  background-color: var(--input-background-color);
}

fieldset select {
  margin-bottom: 3.2rem;
}

fieldset textarea {
  width: 100%;
  height: 16.7rem;
  border-radius: .8rem;
  margin-bottom: 3rem;
  background-color: var(--input-background-color);
  resize: none;
}

fieldset legend {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  color: var(--legend-color);
  border-bottom: 1px solid var(--input-background-color);
  padding-bottom: .8rem;
  margin-bottom: 3.2rem;
}

fieldset:nth-child(1) legend {
  border: none;
}

fieldset:nth-child(3) {
  display: flex;
  gap: 1rem;
}

fieldset:nth-child(3) input[type=date] {
  width: 30rem;
}

fieldset:nth-child(3) input[type=time] {
  width: 14rem;
}

input[type=submit] {
  width: 62.2rem;
  height: 5.1rem;
  margin: 6.4rem 0;
  border-radius: .8rem;
  background-color: var(--tertiary-color);
  color: var(--color-white);
  font-size: 2rem;
  transition: background .2s;
}

input[type=submit]:hover {
  background-color: var(--tertiary-fover-color);
  transition: background .2s;
}