* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to right, #5a10b5 0%, #002349 100%);
}

section.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes textReveal {
  100% {
    color: #fff;
  }
}
@keyframes textRevealName {
  100% {
    color: #ffd700;
    font-weight: 500px;
  }
}
@keyframes textRevealBox {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
#presentation {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
#presentation .presentation-container .text h1 {
  display: block;
  width: fit-content;
  font-size: 5rem;
  position: relative;
  color: transparent;
  animation: textReveal 0.5s ease 1.5s forwards;
}
#presentation .presentation-container .text h1:nth-child(1) {
  animation-delay: 0.8s;
}
#presentation .presentation-container .text h1:nth-child(2) {
  animation-delay: 1.8s;
}
#presentation .presentation-container .text h1:nth-child(3) {
  animation: textRevealName 0.5s ease forwards;
  animation-delay: 2.8s;
}
#presentation .presentation-container .text h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#presentation .presentation-container .text h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#presentation .presentation-container .text h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#presentation .presentation-container .text h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  animation: textRevealBox 1s ease 0.5s;
  background-color: #ffd700;
}
#presentation .presentation-container .text .cta {
  display: inline-block;
  padding: 10px 30px;
  color: #ffd700;
  background-color: transparent;
  border: 2px solid #ffd700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color, color, 0.5s ease;
}
#presentation .presentation-container .text .cta:hover {
  color: #fff;
  font-weight: 500;
  background-color: #ffd700;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  #projects .all-projects a:nth-child(even) .project-card {
    flex-direction: row-reverse;
  }
}
#projects .all-projects .project-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  border: 2.5px solid white;
  border-radius: 10px;
}
@media (min-width: 768px) {
  #projects .all-projects .project-card {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
  }
}
#projects .all-projects .project-card:hover .project-bg img {
  transform: scale(1.1);
}
#projects .all-projects .project-card .project-info.odd {
  background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
}
#projects .all-projects .project-card .project-info.even {
  background-image: linear-gradient(60deg, #002349 0%, #5a10b5 100%);
}
#projects .all-projects .project-card .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
@media (min-width: 768px) {
  #projects .all-projects .project-card .project-info {
    height: 100%;
  }
}
#projects .all-projects .project-card .project-info h2 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .all-projects .project-card .project-info p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}
#projects .all-projects .project-card .project-bg {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  #projects .all-projects .project-card .project-bg {
    height: 100%;
  }
}
#projects .all-projects .project-card .project-bg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
#projects .all-projects .project-card .project-bg img {
  transition: 0.5s ease transform;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#knowledge {
  padding: 0 1rem;
}
#knowledge .all-knowledge {
  width: 100%;
  padding: 3rem 0;
  background-image: url("../img/knowledge.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: justify;
  color: #fff;
  border-radius: 10px;
}
#knowledge .all-knowledge .block {
  width: 360px;
  margin: 1rem 0 2rem;
  padding: 1rem;
  transition: 0.2s;
}
@media (min-width: 768px) {
  #knowledge .all-knowledge .block {
    width: 360px;
  }
}
#knowledge .all-knowledge .block:hover {
  background-color: transparent;
  border-radius: 10px;
  padding: 1rem;
  transform: scale(1);
}
@media (min-width: 768px) {
  #knowledge .all-knowledge .block:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
}
#knowledge .all-knowledge .block h2 {
  font-size: 2rem;
  color: #ff0062;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}
#knowledge .all-knowledge .block p {
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

#contact {
  background-image: url("../img/tela.png");
  background-repeat: no-repeat;
  background-size: 60rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 29rem;
}
@media (min-width: 768px) {
  #contact {
    padding-bottom: 29rem;
    background-size: 90rem;
  }
}
#contact .section-title {
  margin: 1rem;
}
#contact .form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}
@media (min-width: 768px) {
  #contact .form {
    width: 670px;
    margin: 5rem 0 15rem;
  }
}
#contact .form h1 {
  font-size: 4rem;
  font-weight: bold;
}
#contact .form form {
  width: 70%;
  height: 80%;
  margin: 0;
}
@media (min-width: 768px) {
  #contact .form form {
    margin: 4rem 0 2rem;
  }
}
#contact .form .input-wrapper {
  position: relative;
}
#contact .form .input-wrapper input, #contact .form .input-wrapper textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  outline: none;
  border-bottom: 2px dashed #777;
  color: #777;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0.2rem;
}
@media (min-width: 768px) {
  #contact .form .input-wrapper input, #contact .form .input-wrapper textarea {
    margin-bottom: 2rem;
  }
}
#contact .form .input-wrapper input:-webkit-autofill, #contact .form .input-wrapper textarea:-webkit-autofill {
  -webkit-text-fill-color: #777;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  color: #777;
  font-size: 1rem;
  font-weight: bold;
}
#contact .form .input-wrapper textarea {
  max-width: 100%;
  max-height: 6rem;
  min-width: 100%;
  min-height: 6rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #contact .form .input-wrapper textarea {
    max-height: 10rem;
    min-height: 10rem;
  }
}
#contact .form button {
  width: 100%;
  margin-top: 4rem;
  display: inline-block;
  padding: 10px 30px;
  color: #777;
  background-color: transparent;
  border: 2px solid #777;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color, color, 0.3s ease;
}
#contact .form button:hover {
  background-color: #161616;
  color: white;
}

footer {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: #969696;
  padding: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}
footer .footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  footer .social-media {
    justify-content: left;
  }
}
footer .social-media i {
  color: #969696;
  font-size: 2.2rem;
  margin: 1rem 5rem 1rem 5rem;
}

body .section-container {
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;
  padding: 70px 0;
}
body .section-title h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  margin: 5px 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
