@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.btn {
    background: radial-gradient(rgb(255, 1, 1), rgb(66, 1, 1));
    width: 12rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: serif;
    font-size: 1.1rem;
    text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black;
    letter-spacing: 3px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-hamburguer {
    /* background-color: turquoise; */
    position: fixed;
    top: .5rem;
    right: .5rem;
    width: 1.5rem;
    height: 1.8rem;
    z-index: 100;
}

.hamburguer {
    width: 100%;
    height: 6%;
    display: block;
    content: '';
    background: radial-gradient(rgb(255, 1, 1), rgb(66, 1, 1));
    box-shadow: 0.05rem 0.05rem 0rem #979797, -0.05rem -0.05rem 0rem #979797, 0.05rem -0.05rem 0rem #979797, -0.05rem 0.05rem 0rem #979797;
    position: relative;
    margin: auto;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}

.hamburguer:before,
.hamburguer:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(255, 1, 1), rgb(66, 1, 1));
    box-shadow: 0.05rem 0.05rem 0rem #979797, -0.05rem -0.05rem 0rem #979797, 0.05rem -0.05rem 0rem #979797, -0.05rem 0.05rem 0rem #979797;
    margin: auto;
    z-index: 100;
    transition: .5s;
}

.hamburguer:before {
    top: .5rem;
}

.hamburguer:after {
    bottom: .5rem;
}

#btn-hamburguer:checked~.hamburguer {
    transform: rotate(45deg)
}

#btn-hamburguer:checked~.hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

#btn-hamburguer:checked~.hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.label-hamburguer {
    /* background-color: rgba(255, 0, 0, .5); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    cursor: pointer;
}

header {
    width: 100%;
    height: 100vh;
}

header .background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

header .background img {
    height: 100%;
    width: 100%;
    animation: zoom 60s infinite;
    opacity: .5;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

header .header {
    position: absolute;
    top: 40%;
    left: 12%;
    transform: translateY(-50%);
}

header .header h1 {
    font-family: var(--font-primary);
    font-size: 60px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black;
}

header .header p {
    font-family: var(--font-secondary);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black;
    margin-bottom: 35px;
}

header .header button {
    background: radial-gradient(rgb(255, 1, 1), rgb(66, 1, 1));
    width: 12rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: serif;
    font-size: 1.1rem;
    text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black;
    letter-spacing: 3px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

header .header button:hover {
    background: radial-gradient(rgb(206, 0, 0), rgb(39, 0, 0));
}

aside {
    position: fixed;
    width: 18rem;
    height: 100vh;
    right: -18rem;
    background-color: #fff;
    z-index: 3;
    transition: cubic-bezier(0, 0.54, 0, 1.35) .5s;
}

aside.show-menu {
    right: 0;
}

.arrow-home {
    opacity: .7;
    cursor: pointer;
    border-radius: 10%;
    z-index: 2;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: rgb(200, 0, 0);
    transition: cubic-bezier(0, 0.54, 0, 1.35) all .5s;
}

.arrow-home.show-menu {
    right: 19rem;
    cursor: pointer;
}

.arrow-home:hover {
    opacity: 1;
}

.arrow-home i {
    color: #777;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

aside .menus {
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 25%;
}

aside .menus li {
    margin-bottom: 1.5rem;
}

aside .menus a {
    color: rgba(0, 0, 0, .75);
    transition: .5s;
}

aside .menus a:hover {
    text-shadow: 1px 1px 20px rgba(206, 0, 0, .7);
}

aside .social-media {
    width: 100%;
    height: 2.8rem;
    /* height: %; */
    position: absolute;
    bottom: 5%;
    justify-content: space-evenly;
    display: flex;
}

.social-media-icon {
    font-size: 1.8rem;
    color: white;
    border-radius: 50%;
    border: .5rem solid rgba(0, 0, 0, 0);
    background: rgb(196, 0, 0);
    transition: ease-in-out .5s;
}

.social-media-icon:hover {
    /* color: rgb(196, 0, 0);
background: rgb(131, 0, 0);
border: .5rem solid rgba(0, 0, 0, 0);
background: white;
transition: .5s; */
    background: rgb(170, 0, 0);
    color: rgba(250, 250, 250, .8);
    box-shadow: 1px 1px 40px rgba(114, 0, 0, 0.9);
}

div.span {
    /* opacity: 0; */
    width: 100%;
    height: 1.5rem;
    /* background-color: purple; */
    position: absolute;
    bottom: 3.3rem;
    text-align: center;
}

.span span {
    display: none;
    position: absolute;
    padding: .2rem .3rem;
    border-radius: 10%;
    background-color: rgb(170, 0, 0);
    font-family: serif;
    font-size: .9rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6), 1px -1px 2px rgba(0, 0, 0, .6), -1px 1px 2px rgba(0, 0, 0, .6), -1px -1px 2px rgba(0, 0, 0, .6);
    font-weight: 500;
}

.span .facebook {
    left: 1.8rem;
}

.span .github {
    left: 7.4rem;
}

.span .twitter {
    right: 2.2rem;
}

.span span::before {
    position: relative;
    color: black;
    bottom: -.9rem;
    width: .5rem;
    height: .5rem;
    content: '';
    border-top: .5rem solid rgba(170, 0, 0, 1);
    border-right: .5rem solid rgba(0, 0, 0, 0);
    border-bottom: .5rem solid rgba(0, 0, 0, 0);
    border-left: .5rem solid rgba(0, 0, 0, 0);
}

.span .facebook:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.span .github:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.span .twitter:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.social-media-icon:nth-child(1):hover~.span .facebook {
    display: block;
}

.social-media-icon:nth-child(2):hover~.span .github {
    display: block;
}

.social-media-icon:nth-child(3):hover~.span .twitter {
    display: block;
}

section.conhecimentos {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eee;
}

section.conhecimentos .header-conhecimentos {
    position: relative;
    background-color: #eaeaea;
    width: 100%;
    height: 4.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

section.conhecimentos .header-conhecimentos h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    color: #4b4b4b;
    position: absolute;
    border-bottom: 3px solid purple;
    text-align: center;
    border-radius: 3%;
}

section.conhecimentos img {
    width: 20rem;
}

section.conhecimentos .blocos-wrapper {
    margin-top: 2rem;
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
    text-align: justify;
    font-family: var(--font-secondary);
}

.bloco-header {
    display: flex;
    align-items: center;
}

.bloco-header h2 {
    font-size: 2rem;
    color: #000;
    margin-left: 1rem;
}

.bloco-conteudo p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #777;
    font-weight: 600;
}

.bloco-header i {
    top: 1%;
    font-size: 2.5rem;
    color: #4b4b4b;
}

.bloco-wrapper {
    transition: all.5s;
}

.bloco-wrapper:hover {
    transform: scale(1.2);
}

section.conhecimentos .bloco-wrapper:nth-child(1) {
    grid-column: 4/7;
    grid-row: 1/2;
}

.bloco-wrapper:hover>.bloco-header i {
    color: rgb(150, 0, 0);
    text-shadow: 1px 1px 5px black;
}

.bloco-wrapper:hover>.bloco-header h2 {
    color: rgb(150, 0, 0);
    text-shadow: 1px 1px 2px black;
}

.bloco-wrapper:hover>.bloco-conteudo p {
    color: #000;
}

section.conhecimentos .bloco-wrapper:nth-child(2) {
    grid-column: 3/6;
    grid-row: 3/4;
}

section.conhecimentos .bloco-wrapper:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5/6;
}

section.conhecimentos .bloco-wrapper:nth-child(4) {
    grid-column: 11/14;
    grid-row: 1/2;
}

section.conhecimentos .bloco-wrapper:nth-child(5) {
    grid-column: 12/15;
    grid-row: 3/4;
}

section.conhecimentos .bloco-wrapper:nth-child(6) {
    grid-column: 11/14;
    grid-row: 5/6;
}

section.conhecimentos .img-conhecimentos:nth-child(7) {
    grid-column: 7/10;
    grid-row: 2/4;
}

section.projetos {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eee;
}

section.projetos .header-projetos {
    position: relative;
    background-color: #eaeaea;
    width: 100%;
    height: 4.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

section.projetos .header-projetos h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    color: #4b4b4b;
    position: absolute;
    border-bottom: 3px solid purple;
    text-align: center;
    border-radius: 3%;
}

.projetos-wrapper {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
}

.projetos-wrapper .card {
    background-color: #000;
    width: 20rem;
    height: 30rem;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2.5%;
}

.projetos-wrapper img {
    position: absolute;
    border-radius: 2.5%;
    width: 100%;
    height: 100%;
    /* opacity: .7; */
}

.card:hover .img-card {
    opacity: .7;
    transition: .5s;
}


/* .projetos-wrapper img:hover~.card-info {
display: block;
} */

.projetos-wrapper .card-info {
    position: absolute;
    font-family: var(--font-secondary);
    width: 75%;
    opacity: 0;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.card:hover .card-info {
    top: 20%;
    opacity: 1;
}

.projetos-wrapper .card-info h2 {
    text-shadow: 2px 2px 3px black, 2px 2px 3px black;
    color: white;
    font-size: 2.2rem;
}

.projetos-wrapper .card-info h3 {
    text-shadow: 2px 2px 3px black, 2px 2px 3px black;
    color: rgb(255, 0, 149);
    text-shadow: 2px 2px 5px black, 2px 2px 2px black;
    padding-top: .5rem;
    font-size: 1.3rem;
}

.projetos-wrapper .card-info p {
    text-shadow: 1px 1px 2px black, 1px 1px 2px black;
    color: white;
    padding-top: 1rem;
    font-size: 1.2rem;
}

section.projetos .card-info button {
    margin-top: 1.5rem;
    background: radial-gradient(rgb(255, 1, 1), rgb(66, 1, 1));
    font-family: var(--font-secondary);
    width: 10rem;
    height: 2rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black;
    letter-spacing: 1.5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

section.projetos .card-info button:hover {
    background: radial-gradient(rgb(206, 0, 0), rgb(39, 0, 0));
    border-radius: 10px;
}

.contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left {
    width: 35%;
    background-image: linear-gradient(rgba(15, 15, 15, .6), rgba(15, 15, 15, .9)), url(img/contato.jpg);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5;
    font-family: var(--font-secondary);
    border-bottom: 1px dashed #636363;
    height: 3rem;
    outline: none;
}

.input-group textarea {
    padding-top: 1rem;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 3rem;
    min-height: 3rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: -.5rem;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    margin: 2rem 0;
    transition: all .3s;
}

.field:focus~label {
    top: -2rem;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-contato {
    width: 60%;
    height: 2.5rem;
    margin-top: 3rem;
}

.orcamento {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg-orcamento.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orcamento-wrapper {
    width: 60%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 1px 15px black;
    background-color: rgba(225, 225, 225, .7);
    display: flex;
    position: relative;
}

.orcamento-wrapper h1 {
    background: radial-gradient(rgb(255, 1, 1), rgb(100, 1, 1));
    color: #fff;
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: lighter;
    text-shadow: 2px 2px 5px black;
    top: -3rem;
    left: 2rem;
    border-radius: 10px;
    padding: 0 3rem;
    position: absolute;
}

.formulario {
    position: absolute;
    width: 90%;
    height: 80%;
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin: 2rem;
    top: 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

#qtde {
    width: 4.5rem;
    height: 3rem;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding-left: 1rem;
}

.btn-orcamento {
    width: 100%;
}

footer {
    width: 100%;
    height: 7rem;
    position: relative;
    color: #777;
    background-color: #17181b;
    object-fit: cover;
    align-items: center;
    text-align: center;
    /* display: flex; */
}

footer p {
    width: 26rem;
    position: absolute;
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}